# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Packages
/*.tar.gz
/*.Rcheck/
/._Rcheck/
/RcppExports.R

# Environment variables
.Renviron

# Generated HTML
*.html

# Others
.DS_Store
inst/doc
