# Different set-ups were tested. Usage of shiny modules did not work properly at time of
# writing with addtional packages (e.g. https://github.com/rstudio/DT/issues/359)
# A choice was made to switch to dynamically create and run the app (within version 0.2.0)
# Furthermore it was decided to not change directories within app (each instance is within selected working directory)

source("ui_functions.r")
source("srv_functions.r")
{{{setwd}}}
if(file.exists("shinyMixR")){assign("proj_obj",get_proj(),pos = .GlobalEnv)}else{assign("proj_obj",list(),pos = .GlobalEnv)}
shinyUI(shinydashboard::dashboardPage(

  # Header of the app
  title = "shinyMixR",
  shinydashboard::dashboardHeader(
    title = tags$img(src='logoshinyMixR.png',height=45),
    tags$li(img(src = 'logonlmixr.png',height=42),class = "dropdown")
  ),

  # Sidebar items
  shinydashboard::dashboardSidebar(
    shinydashboard::sidebarMenu(
      id = "tabs",
      {{{widget_tabs}}}
    )
  ),

  # body of the app
  shinydashboard::dashboardBody(
    tags$head(tags$style(HTML('.sidebar-menu > li > a{padding: 5px 5px 5px 15px;}'))),
    shinydashboard::tabItems(
      {{{widget_ui}}}
    )
  )
))
